* {
    font-family: "Oswald", sans-serif;
}

span {
    background-color: #3DD6D8;
    border-radius: 12px;
    font-size: 12px;
    padding: 4px;
    margin: 2px;
}

/* body {
    margin-left: 200px;
    margin-right: 200px;
} */

img {
    height: auto;
    width: 250px;
    vertical-align: top;
}

.header-hero {
    background-color: #132489;
    color: white;
    padding: 1px;
    border-bottom: #3DD6D8;
}

.footer {
    background-image: url(starter_files/images/donate.jpg), url(starter_files/images/volunteer.jpg), url(starter_files/images/location.png);
    background-size: 33%, 33%, 33%;
    background-color: #B766F3;
    width: 100%;
    height: 167px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right, center, left;
    opacity: 70%;
}

.donate {
    text-align: right;
    padding-right: 100px;
    padding-top: 49px;
}

.location {
    text-align: left;
    padding-left: 50px;
}

.volunteer {
    text-align: center;
    margin-bottom: -87px;
}

.card {
    display: inline-flex;
}

.row1 {
    display: inline-flex;
}

.row2 {
    display: inline-flex;
}

.row3 {
    display: inline-flex;
}

.name {

} 

.attributes {
    display: inline-flex;
}

.tag {
    
}